<div class="container position-absolute top-50 start-50 translate-middle">
        
    <div class="imagen">
        <figure>
            <img src="./../../../assets/i.jpeg">
        </figure>
    </div>
    
    <form action="#" class="formulario">

        

        <div class="titulo">
            <h1>CREAR UNA CUENTA</h1>
        </div>

        <div class="preguntas">
            <div class="pregunta1">
                <div class="input">
                    <span class="details">Nombre</span>
                    <input type="text" placeholder="" required>
                </div>
                <div class="input">
                    <span class="details">Apellido</span>
                    <input type="text" placeholder="" required>
                </div>
                <div class="input">
                    <span class="details">Correo</span>
                    <input type="text" placeholder="" required>
                </div>
                <div class="input">
                    <span class="details">Descripcion personal</span>
                    <textarea placeholder="" cols="21" rows="8" ></textarea>
                </div>
            </div>
            <div class="pregunta2">
                <div class="input">
                    <span class="details">Contraseña</span>
                    <input type="password" placeholder="" required>
                </div>
                <div class="input">
                    <span class="details">Confirma tu contraseña</span>
                    <input type="password" placeholder="" required>
                </div>
                <div class="input">
                    <span class="details">Fecha de nacimiento</span>
                    <input type="text" placeholder=" Año-Mes-Día" required>
                </div>
                
                <div class="input">
                    <span class="details">Peso en kilogramos</span>
                    <input type="text" placeholder="" required>
                </div>
                <div class="input">
                    <span class="details">Estatura en metros</span>
                    <input type="text" placeholder="" required>
                </div>
            </div>
        </div>

        

        <div class="boton">
            <a routerLink="/entrenadores">SELECCIONAR ENTRENADOR</a>
        </div>

    </form>
</div>
