

  
  
<div class="container">
    <div class="card">
        <figure>
            <img src="./../../../assets/entrenador.webp">
          </figure>
      <div class="contenido"> 
        <h3>Juan Camilo <br> 22 años</h3>
        <a routerLink="/Selecciona_plan">SELECCIONAR USUARIO</a>
      </div>
    </div>
    <div class="card">
        <figure>
            <img src="./../../../assets/mejor-entrenador-personal-online3 (1).jpg">
          </figure>
      <div class="contenido"> 
        <h3>Juan Camilo <br> 22 años</h3>
        <a routerLink="/Selecciona_plan">SELECCIONAR USUARIO</a>
      </div>
    </div>
    <div class="card">
        <figure>
            <img src="./../../../assets/entredar.jpg">
          </figure>
      <div class="contenido"> 
        <h3>Juan Camilo <br> 22 años</h3>
        <a routerLink="/Selecciona_plan">SELECCIONAR USUARIO</a>
      </div>
    </div>
    
</div>
