


<div class="container">
    <div class="card">
        <iframe width="320px" height="210px" src="https://www.youtube.com/embed/Uh976n5NB_Q?si=tS89stcn25gF1BnO"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      <div class="contenido"> 
        <a routerLink="/Selecciona_plan">SELECCIONAR VIDEO</a>
      </div>
    </div>
  
    <div class="card">
      <iframe width="320px" height="210px" src="https://www.youtube.com/embed/Uh976n5NB_Q?si=tS89stcn25gF1BnO"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
    <div class="contenido"> 
      <a routerLink="/Selecciona_plan">SELECCIONAR VIDEO</a>
    </div>
  </div>
  
    
  </div>
    
    
  
  <br>
  <br>
  <br>
  <div class="agregar">
    <div class="input">
      <span class="details">CREA UN VIDEO PARA TUS USUARIOS</span>
      <input type="text" placeholder="URL" required>
    </div>
    <div class="boton">
      <a href="">CREAR VIDEO</a>
    </div>
  </div>
