<div class="titulo">
    <h1>SELECCIONA TU ENTRENADOR PERSONAL</h1>
  </div>
  
  
  <div class="container">
    <div class="card" *ngFor="let entrenador of entrenadores">
      <figure>
        <img src="./../../../assets/mejor-entrenador-personal-online3 (1).jpg">
      </figure>
      <div class="contenido">
        <h3>{{entrenador.idPersona?.nombre}} {{entrenador.idPersona?.apellido}} <br> {{entrenador.idPersona?.fechaNacimiento}}</h3>
        <p>
          {{entrenador.idPersona?.descripcion}}
        </p>
        <a routerLink="/Selecciona_plan">SELECCIONAR</a>
      </div>
    </div>

    
    
  </div>


