<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Selecciona_plan</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
   <section class="pp-section">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <div class="section-header text-conter">
                  <h2 class="sub-title">SELECCIONA TU PLAN DE SUBCRIPCION </h2>

               </div>
            </div>

         </div>
         <div class="row plan-table " >

            <div class="col-lg-4 col-md6 " *ngFor="let membresia of membresias">
               <div class="plan-style blue-shadow">
                  <div class="plan-style-bg blue-bg-img"></div>
                  <div class="plan-header">
                     <h3 class="bg-blue"> {{membresia.titulo}}</h3>
                     <P class="price bg-blue"> $ <span class="price-digit">{{membresia.costo}}</span>/{{membresia.tiempoDias}}Dias</P>
                  </div>
                  <div class="plan-detail">
                     <ul>

                     </ul>
                  </div>
                  <div class="plan-bottom">
                     <a href="" class="plan-buttom bg-cafe-btn">Suscribete</a>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </section>
</body>

</html>