<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form">
        <h4>Sing in</h4>
        <div class="login">
            <input type="text" [(ngModel)] = "correo" placeholder="Email" required="required">
            <input type="password" [(ngModel)]="clave" placeholder="Password" required="required">
            <button (click)="iniarSeccion()" >Sign In</button>
        </div>
        <div class="suggests">
            <span routerLink="/crearcuenta">Registrarse</span>
        </div>
    </div>
</body>
</html>

