<nav class="navbar navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand d-flex" href="#">
            <img src="./../../../../assets/logo-gym.jpg" alt="" width="60" height="60"
                class="d-inline-block align-text-top">
                <h2 class="title-logo">GYM-VIRTUAL</h2>
        </a>
        <div class="list-menu">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">INICIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">RUTINA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PERFIL</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary">CAMBIAR ENTRENADOR</button>
                </li>
            </ul>
        </div>
    </div>

</nav>